@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind has built in Post CSS Nested library which compiles nested styles on build. Linter may show errors here but thats nothing to worry about */

#template {
  --theme: rgb(79, 27, 125);
  --accent: #5a2082;
  --body: #23192b;
  /* --color1: #f9fafb; */
  --color1: theme(colors.gray.50);
  --color2: theme(colors.slate.100);
  --color3: #00000;
  --color4: #00000;
  --color5: #00000;
  --template-gap: 0.75rem;
  @apply flex flex-col text-body [&_a:hover]:underline;
}

@layer components {
  #heading {
    @apply mb-1 flex flex-wrap items-start justify-between gap-4;
  }

  #photo {
    @apply aspect-square max-w-full rounded-full object-cover;
  }

  #contact-info {
    @apply flex flex-col items-start gap-y-1;
    .row {
      @apply flex flex-wrap gap-1;
    }
    .col {
      @apply inline-flex gap-1 rounded-full bg-color2 pe-2 shadow-sm transition-colors;
      &:has(a:hover) {
        @apply bg-accent text-white;
      }
      a {
        @apply hover:no-underline;
      }
    }

    .title:not(.resume-title) {
      @apply inline-grid w-5 place-items-center rounded-full bg-accent text-white;
    }
    .resume-title {
      @apply px-2;
    }
    svg {
      @apply text-xs;
    }
  }

  #about-me {
    @apply mt-template;
  }

  #skills {
    & > .row {
      @apply flex flex-wrap gap-2 px-1;
    }

    .col {
      @apply grow rounded-lg bg-color1 px-4 py-template shadow-md;
    }

    .skillset {
      @apply grid grid-flow-row justify-start gap-x-3 pt-2 sm:grid-flow-col sm:grid-rows-3;
    }
  }

  #projects {
    .content {
      @apply flex flex-col gap-y-3 px-1;
    }
    .sections {
      @apply flex flex-col gap-y-1 rounded-lg bg-color1 p-4 shadow-md;
    }
    .title-section {
      @apply flex flex-wrap justify-between gap-x-2;
      & h5 {
        @apply before:me-1 before:text-accent before:content-["▢"];
      }
    }
    .date > * {
      @apply leading-6;
    }
    .date svg {
      @apply text-accent;
    }
    .builders {
      @apply flex flex-wrap items-center justify-center gap-1;
      & > * {
        @apply block rounded-md border border-accent px-1  transition-colors hover:bg-accent hover:text-white hover:no-underline;
      }
    }
    .features {
      /* @apply flex flex-col gap-y-1; */
    }
  }

  #experiences {
    .content {
      @apply flex flex-col gap-y-3 px-1;
    }
    .sections {
      @apply flex flex-col gap-y-1 rounded-lg bg-color1 p-4 shadow-md;
    }
    .row {
      grid-template-columns: minmax(0, 1fr) max-content;
      @apply grid gap-x-2;
    }
    .position > * {
      @apply before:me-1 before:text-accent before:content-["▢"];
    }
    .details {
      @apply -mb-8 text-end;
      h6 {
        @apply leading-6;
      }
    }

    .soft-skills,
    .responsibilities {
      /* @apply mb-1 mt-1 flex flex-col gap-y-1; */
    }
  }

  #education {
    .content {
      /* @apply flex flex-col gap-y-1; */
      @apply mx-1 rounded-lg bg-color1 p-4 shadow-md;
    }

    .row {
      @apply flex justify-between gap-x-1;
      .info {
        @apply shrink;
      }
      .date > * {
        @apply w-max leading-5;
      }
    }
  }
}

@layer utilities {
  /* .bullet-item:before {
    @apply me-1 text-xs leading-3 text-theme content-["◆"];
  } */
  .heading {
    @apply py-template text-center uppercase [&>*]:text-theme;
  }
  .bullet-item {
    @apply relative ps-4;
    &:before {
      @apply absolute inset-0 text-base leading-4 text-[--rand-color] content-["●"] sm:leading-4;
    }
  }
  .date > * {
    @apply text-theme;
  }
}
