@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme: #2a014f;
  --accent: #242b52;
  --body: #23192b;
  --template-gap: 0.75rem;
}

@layer base {
  body {
    @apply bg-gray-200 text-body;
  }

  h1,
  h2,
  h3 {
    @apply text-theme;
  }

  h4,
  h5,
  h6 {
    @apply text-accent;
  }

  h1 {
    @apply text-3xl font-bold antialiased md:text-4xl;
  }

  h2 {
    @apply text-xl font-bold antialiased md:text-2xl;
  }

  h3 {
    @apply text-lg font-bold antialiased md:text-xl;
  }

  h4 {
    @apply text-base font-bold antialiased md:text-lg;
  }

  h5 {
    @apply text-sm font-bold antialiased md:text-base;
  }

  h6 {
    @apply text-xs font-semibold antialiased md:text-sm;
  }

  p {
    @apply text-xs font-medium antialiased md:text-sm;
  }

  small {
    @apply text-xs font-medium antialiased;
  }

  span {
    @apply text-xs font-medium antialiased md:text-sm;
  }
}

@layer components {
  #pdf {
    height: 1056px;
    max-width: 816px;
    width: 100%;
    @apply bg-white p-8 md:p-20;
  }

  #template {
    @apply flex flex-col;
  }

  #heading {
    @apply flex flex-wrap justify-between gap-4;
  }

  #photo {
    @apply aspect-square max-w-full rounded-full object-cover;
  }

  #contact-info {
    @apply pb-template overflow-hidden;
  }

  #contact-info .row {
    @apply -mx-2 flex flex-wrap divide-x divide-accent;
  }

  #contact-info .col {
    @apply flex gap-1 px-2;
  }

  #contact-info .title {
    @apply font-semibold capitalize;
  }

  #about-me {
    @apply py-template border-t border-accent;
  }

  #skills {
    @apply overflow-hidden;
  }

  #skills > .row {
    /* grid-template-columns: repeat(auto-fit, minmax(max-content, 0)); */
    @apply -mx-4 flex flex-wrap divide-x divide-accent border-accent;
  }

  #skills .col {
    @apply py-template grow border-t border-accent px-4;
  }

  #skills .skillset {
    @apply grid grid-flow-col grid-rows-3 justify-start gap-x-2 gap-y-1 pt-2 marker:text-xs marker:text-body;
  }

  #skills .skillset li {
    @apply inline-flex items-center gap-1 before:content-["•"];
  }
}
