@tailwind base;
@tailwind components;
@tailwind utilities;

/* pdf.print does not take pdf css margin into account. It will add a margin around the printable area if given inside @page declaration.
So
For web: Give padding to parent of pdf
For print: Give margin inside @page declaration 
And negate them twice from pdf initial width and height*/

@page {
  size: letter portrait;
  margin: 5rem;
  /* @apply  */
}

#pdf-container {
  height: 1056px;
  max-width: 816px;
  padding: 5rem;
  width: 100%;
  @apply bg-white p-8 md:p-20;
}

#pdf {
  height: calc(1056px - 5rem * 2);
  max-width: calc(816px - 5rem * 2);
  width: 100%;
  @apply bg-white;
}

@layer base {
  body {
    @apply bg-gray-200;
  }

  h1,
  h2,
  h3 {
    @apply text-theme;
  }

  h4,
  h5,
  h6 {
    @apply text-accent;
  }

  h1 {
    @apply text-3xl font-bold antialiased md:text-4xl;
  }

  h2 {
    @apply text-xl font-bold antialiased md:text-2xl;
  }

  h3 {
    @apply text-lg font-bold antialiased md:text-xl;
  }

  h4 {
    @apply text-base font-bold antialiased md:text-lg;
  }

  h5 {
    @apply text-sm font-bold antialiased md:text-base;
  }

  h6 {
    @apply text-xs font-semibold antialiased md:text-sm;
  }

  p {
    @apply text-xs font-medium antialiased md:text-sm;
  }

  small {
    @apply text-xs font-medium antialiased;
  }

  span {
    @apply text-xs font-medium antialiased md:text-sm;
  }
}
